.sticky-segment {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #fff;
}
ion-item {
    //--inner-padding-end: 0px;
    --padding-start: 0px
}

ion-card-content {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

.warp-title {


    div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 0px 5px;
    }

    .end-text {
        /*font-size: 3vmin;*/
        /*margin: 0;*/
        font-size: xx-small;
        border: var(--ion-color-primary) 1px solid;
        border-radius: 6px 6px 6px 6px;
        background-color: var(--ion-color-primary);
        padding: 3px;
        color: #fff;
    }

    ion-label {
        margin-left: 5px;
    }

    ion-icon {
        /*font-size: 3vmin;*/
        font-size: 25px;
        border: var(--ion-color-primary) 2px solid;
        border-radius: 50%;
    }
}

.warp-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    ion-label {
        margin: 5px 0px;
    }

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0px 0px 5px;
    }

    ion-icon {
        /*font-size: 5vmin;*/
        font-size: 25px;
        color: #a09595;
    }

    .count-device-alarm {
        /*font-size: 3vmin;*/

        color: var(--ion-color-medium);
    }
}
