.sticky-segment {
    position: sticky;
    top:0;
    z-index: 9;
}
.tab1 {
    img {
        height: 100%;
        width: 100%;
    }

    mat-expansion-panel {
        /*font-size: 3vmin;*/
        /*position: absolute;*/
        /*color: #fff;*/
        top: 0;
        /*background-color: rgba(0, 0, 0, 0.52);*/
    }

    mat-expansion-panel-header {
        height: 35px !important;
        /*color: #fff;*/
        background-color: transparent
    }

    mat-panel-title, mat-panel-description {
        /*color: #fff;*/
        /*font-size: 3vmin;*/
        /*font-size: small;*/
    }

    ::ng-deep .mat-expansion-indicator::after {
        /*color: #fff;*/
    }

    .mat-expanded {
        /*height: 100%;*/
    }

    ::ng-deep.mat-expansion-panel-content {
        /*font-size: 3vmin;*/
        /*font-size: small;*/
        /*height: calc(100% - 35px);*/
        .mat-expansion-panel-body {
            /*height: 100%;*/
        }
    }

    ::ng-deep.mat-expansion-panel-body {
        padding: 0 8px 8px;
    }

    .weather-info-wraper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*line-height: 10px;*/
        .des {
            text-transform: capitalize;
        }
    }

    .upper-weather-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .lower-weather-info {
        .wearther-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    ion-progress-bar {
        /*margin: 1vmin 0;*/
        --progress-background: #000;
    }

    @media only screen and (device-width : 375px) and (-webkit-device-pixel-ratio : 3) {
        ::ng-deep.mat-expansion-panel-content {
            /*font-size: 4vmin;*/
        }
    }

    @media only screen and (device-width : 375px) and (-webkit-device-pixel-ratio : 2) {
        ::ng-deep.mat-expansion-panel-content {
            /*font-size: 3vmin;*/
        }
    }

    @media only screen and (device-width : 414px) and (-webkit-device-pixel-ratio : 3) {
        ::ng-deep.mat-expansion-panel-content {
            /*font-size: 4vmin;*/
        }
    }

    @media only screen and (device-width : 768px) {
        ::ng-deep.mat-expansion-panel-content {
            /*font-size: 4vmin;*/
        }
    }

    @media only screen and (device-width : 320px) {
        ::ng-deep.mat-expansion-panel-content {
            /*font-size: 3vmin;*/
        }
    }

    .panel {
        position: relative;
        height: 30%;
    }
}

.energy-info {
    /*height: 20%;*/
    font-size: 13px;
    .warp-row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .item {
        display: flex;
        /*justify-content: space-between;*/
        /*justify-content: center;*/
        align-items: center;
        width: 50%;
        padding: 5px;

        img {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }

        .energy {
            font-size: 16px;
            font-weight: 500;
            color: #000;
        }

        .e-des {
            /*font-size: 3vmin;*/
            color: #808080;
            font-size: 11px;
        }
    }
}

ion-item {
    //--inner-padding-end: 0px;
    --padding-start: 0px
}
.energy-management {
    /*min-height: 400px;
    ion-card-content{
        height: 100%;
    }*/
    //height: 500px !important;
}
.energy-flow {
    display: flex;
    justify-content: center;
}
ion-card-content {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}
.warp-title {
    .title {
        font-weight: 500;
        /*font-size: 3vmin;*/

       
    }

    .tag {
        width: 20px;
        height: 10px;
        margin-right: 10px;
        background: var(--rgb-bg-main-color);
    }

    ion-icon {
        /*font-size: 5vmin;*/
        color: var(--ion-color-medium);
    }
}

.device-info {
    .warp-content {
        div {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin: 0px 0px 0px 5px;
        }
    }
}


@media (min-width: 768px) {

    .energy-info {
        .item {
            width: 25%;
        }
    }
}