<ion-card (click)="device()">
	<ion-card-content no-padding>
		<div class="text-line">
			{{ 'DEVICE_INFO_COMP.MANUFACTURER_NAME' | translate }}: <div>Huawei</div>
		</div>
		<div class="text-line">
			{{ 'DEVICE_INFO_COMP.DEVICE_NAME' | translate }}: <div>2012151654K4544</div>
		</div>
		<div class="text-line">
			{{ 'DEVICE_INFO_COMP.DEVICE_TYPE' | translate }}: <div>Smart Energy Center</div>
		</div>
		<div class="text-line">
			{{ 'DEVICE_INFO_COMP.DEVICE_REP_HIS' | translate }}: <div>-</div>
		</div>
		<div class="text-line">
			{{ 'DEVICE_INFO_COMP.DEVICE_ADDRESS' | translate }}: <div>VietNam Ho Chi Minh City. Thạnh Lộc, Hẻm 247 Hà Huy Giáp 247/24 Hẻm 247 Hà Huy Giáp</div>
		</div>
		<div class="text-line">
			SN: <div>2012151654K4544</div>
		</div>
		<div class="text-line">
			{{ 'DEVICE_INFO_COMP.SOFTWARE_VERSION' | translate }}: <div>V100R001C00SPC334</div>
		</div>
		<div class="text-line">
			{{ 'DEVICE_INFO_COMP.GROUP_INFO' | translate }}: <div>-</div>
		</div>
		<div class="text-line">
			{{ 'DEVICE_INFO_COMP.Model' | translate }}: <div>SUN2000-5KTL-L0</div>
		</div>
	</ion-card-content>
</ion-card>