<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{ 'CHANGEPASSWORD.TITLE' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-between">
	<div class="scroll-content">
		<!-- new parent div -->
		<div class="upper-content">
			<ion-list>
				<ion-item lines="none">
					<mat-form-field class="full-width">
						<mat-label>{{ 'CHANGEPASSWORD.OLDPASSWORD' | translate }}</mat-label>
						<mat-icon matPrefix>lock_outline</mat-icon>
						<input [(ngModel)]="changePwParams.old_password" matInput placeholder="{{'CHANGEPASSWORD.OLDPASSWORD_PLACEHOLDER' | translate }}" [type]="hide ? 'password' : 'text'">
						<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</mat-form-field>
				</ion-item>
				<ion-item lines="none">
					<mat-form-field class="full-width">
						<mat-label>{{ 'CHANGEPASSWORD.NEWPASSWORD' | translate }}</mat-label>
						<mat-icon matPrefix>lock_outline</mat-icon>
						<input [(ngModel)]="changePwParams.new_password" matInput placeholder="{{ 'CHANGEPASSWORD.NEWPASSWORD_PLACEHOLDER' | translate }}" [type]="hide3 ? 'password' : 'text'">
						<mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
					</mat-form-field>
				</ion-item>
				<ion-item lines="none">
					<mat-form-field class="full-width">
						<mat-label>{{ 'CHANGEPASSWORD.CONFIRMPASSWORD' | translate }}</mat-label>
						<mat-icon matPrefix>lock_outline</mat-icon>
						<input [(ngModel)]="confirmPW" matInput placeholder="{{ 'CHANGEPASSWORD.CONFIRMPASSWORD_PLACEHOLDER' | translate }}" [type]="hide3 ? 'password' : 'text'">
						<mat-icon matSuffix (click)="hide3 = !hide3">{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
					</mat-form-field>
				</ion-item>
			</ion-list>
		</div>
		<ion-button class="full-width" (click)="confirm()">{{ 'CHANGEPASSWORD.CONFIRM_BTN' | translate }}</ion-button>
	</div>

</ion-content>