<div class="marquee">
	<div class="dots">
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
		<ion-icon color="{{color}}" class="dot" name="radio-button-on"></ion-icon>
	</div>
	<div class="arrows">
		<!--<img src="./assets/icon/chevron-forward.svg" />-->
		<ion-icon class="arrow" color="{{color}}" name="close"></ion-icon>
	</div>
</div>