.mat-step-header {
    pointer-events: none !important;
}
.stepper {
    height: 100%;



    .mat-form-field-prefix {
        align-self: flex-end;
    }

    .mat-form-field-suffix {
        align-self: flex-end;
    }

    .verti-form {
        display: flex;
        align-items: center;

        .verti-code {
            // width: 70%;
        }

        .verti-send {
            margin-left: 10px;
            padding: 5px;
            border: #ffd800 1px solid;
            border-radius: 10px;
            text-align: center;
        }
    }

    .mat-horizontal-content-container {
        //height: 50%;
        .mat-horizontal-stepper-content {
            // height: 100%;
            form {
                // height: 100%;
                position: relative;

                .btn-next {
                    // position: absolute;
                    //bottom: 10px;
                    width: 100%;
                    margin-top: 20px;

                    ion-button {
                        width: 100%;
                    }
                }
            }
        }
    }

    ion-button {
        width: 100%;
        margin-top: 20px;
        padding: 0px 20px;
    }
}
