<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{ 'RESETPASSWORD.TITLE' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<mat-horizontal-stepper labelPosition="bottom" #stepper class="stepper">
		<mat-step [stepControl]="firstFormGroup">
			<form [formGroup]="firstFormGroup">
				<ng-template matStepLabel>Email</ng-template>
				<mat-form-field class="full-width">
					<mat-label>{{ 'RESETPASSWORD.EMAIL' | translate }}</mat-label>
					<mat-icon matPrefix>email</mat-icon>
					<input matInput placeholder="{{ 'RESETPASSWORD.EMAIL_PLACEHOLDER' | translate }}" type="text" required>
				</mat-form-field>
				
				<div class="full-width verti-form">
					<mat-form-field class="verti-code">
						<mat-label>{{ 'RESETPASSWORD.VERTICODE' | translate }}</mat-label>
						<mat-icon matPrefix>local_police</mat-icon>
						<input matInput placeholder="{{ 'RESETPASSWORD.VERTICODE_PLACEHOLDER' | translate }}" type="text" required>
					</mat-form-field>
					<div class="verti-send">
						{{ 'RESETPASSWORD.VERTICODE_SEND_BTN' | translate }}
					</div>
				</div>
				<div class="btn-next" (click)="nextClicked($event)">
					<!--<button mat-button matStepperNext></button>-->
					<ion-button matStepperNext> {{ 'RESETPASSWORD.NEXT_BTN' | translate }} </ion-button>
				</div>
			</form>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Done</ng-template>
			<mat-form-field class="full-width">
				<mat-label>{{ 'RESETPASSWORD.PASSWORD' | translate }}</mat-label>
				<mat-icon matPrefix>lock_outline</mat-icon>
				<input matInput placeholder="{{ 'RESETPASSWORD.PASSWORD_PLACEHOLDER' | translate }}" [type]="hide ? 'password' : 'text'">
				<mat-icon matSuffix (click)="hide2 = !hide2">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

			</mat-form-field>
			<mat-form-field class="full-width">
				<mat-label>{{ 'RESETPASSWORD.CONFIRMPASSWORD' | translate }}</mat-label>
				<mat-icon matPrefix>lock_outline</mat-icon>
				<input matInput placeholder="{{ 'RESETPASSWORD.CONFIRMPASSWORD_PLACEHOLDER' | translate }}" [type]="hide2 ? 'password' : 'text'">
				<mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
			</mat-form-field>

			<ion-button>{{ 'RESETPASSWORD.CONFIRM_BTN' | translate }}</ion-button>
		</mat-step>
	</mat-horizontal-stepper>
</ion-content>
