.energy-flow-row1 {
    /*display: flex;
    justify-content: center;*/
    position: relative;
    height: 180px;
    width: 300px;

    .energy-arrow {
        width: 70px;
        align-self: center;
    }

    img {
        /*width: 10vmin;
        height: 10vmin;*/
        width: 30px;
        height: 30px;
    }

    .pv {
        position: absolute;
        left: 5px;
    }

    .flow-1 {
        position: absolute;
        left: 40px;
        /*top: 15px;*/
    }

    .inverter {
        position: absolute;
        left: 120px;
        top: 5px;
    }

    .flow-2 {
        position: absolute;
        left: 160px;
        /*width: 65px;*/
        top: 15px;
        overflow: hidden;

        ::ng-deep .marquee {
            transform: rotate(180deg);
        }
    }

    .flow-2-2 {
        position: absolute;
        left: 160px;
        /*width: 65px;*/
        top: 0px; //-10
    }

    .grid {
        position: absolute;
        left: 240px;
    }

    .flow-3 {
        position: absolute;
        left: 95px; //90px
        /*width: 65px;*/
        top: 85px;
        transform: rotate(90deg);

        ::ng-deep .marquee {
        }
    }

    .flow-4 {
        position: absolute;
        left: 115px;
        /*width: 65px;*/
        top: 85px;
        transform: rotate(90deg);

        ::ng-deep .marquee {
        }
    }

    .load {
        position: absolute;
        left: 123px;
        top: 135px;
    }

    .flow-5 {
        position: absolute;
        left: 17px;
        width: 90px;
        top: 65px;
        transform: rotate(130deg);

        ::ng-deep .marquee {
        }
    }

    .flow-6 {
        position: absolute;
        left: 38px;
        width: 90px;
        top: 80px;
        transform: rotate(-50deg);

        ::ng-deep .marquee {
        }
    }

    .battery {
        position: absolute;
        left: 15px;
        top: 125px
    }

    .pv, .interver, .grid, .load, battery {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



    div {
        /*font-size: 3vmin;*/
        font-size: x-small;
        text-align: center;
    }

    .number-e {
         color: var(--ion-color-primary);
        //color: #00A451;
    }

    .number-e-red {
        color: var(--ion-color-danger);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    //CSS
    .energy-flow-row1 {
        zoom: 1.5;
    }
}
