<ion-card>
	<ion-item lines="full" class="warp-title" no-padding>
		<div class="tag">&nbsp;</div>
		<ion-label class="title">
			{{ 'ENVIRONMENTAL_CONTRIBUTION.TITLE' | translate }}
		</ion-label>
		<!--<ion-button fill="outline" slot="end">View</ion-button>-->
	</ion-item>

	<ion-card-content no-padding>
		<div class="items">
			<div class="item">
				<img src="./assets/icon/coal.png" />
				<div class="value">
					0.20<div>t</div>
				</div>
				<div class="title">
					{{ 'ENVIRONMENTAL_CONTRIBUTION.COAL' | translate }}
				</div>
			</div>
			<div class="item">
				<img src="./assets/icon/reduction.png" />
				<div class="value">
					0.50<div>t</div>
				</div>
				<div class="title">CO<div>2</div></div>
			</div>
			<div class="item">
				<img src="./assets/icon/tree.png" />
				<div class="value">
					27<div>
	{{ 'ENVIRONMENTAL_CONTRIBUTION.TREES' | translate }}
</div>
				</div>
				<div class="title">
					{{ 'ENVIRONMENTAL_CONTRIBUTION.TREE' | translate }}
				</div>
			</div>

		</div>
	</ion-card-content>
</ion-card>