<ion-content>
	<ion-item>
		<ion-label>
			<!--<div class="title-warp ">
				<div class="dot">
					&nbsp;
				</div>
				<div class="title">
					Device communication interruption (Major)
				</div>
				<ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
			</div>-->
			<ion-item class="title-warp" lines="none">
				<div slot="start" class="dot">
					&nbsp;
				</div>
				<div class="title">
					Device communication interruption (Major)
				</div>
				<ion-icon name="chevron-forward-outline" slot="end"></ion-icon>

			</ion-item>
			<p>Device name: <b>210107448310K8000266</b></p>
			<p>Plant Name: <b>GP- BacSiLam</b></p>
			<p>Local Time: <b>05/07/2020 18:55:28</b></p>
			<p>Occurrence Time: <b>05/07/2020 18:55:28</b></p>
			<p>Recovery Time: <b>05/07/2020 18:55:28</b></p>
			<div class="status">Reovered</div>
		</ion-label>
	</ion-item>
</ion-content>